<h1>SHOW PAGE FOR LIST <%= @list.name %> WOO</h1>
<%= link_to "Back to All Lists", lists_path, class: "btn btn-primary"%>
<%= link_to "Add movies bro!", new_list_bookmark_path(@list), class: "btn btn-primary"%>

<div class="container d-flex">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-trip col-sm-3">
      <img src=<%= bookmark.movie.poster_url %> />
    <div class="card-trip-infos">
      <div>
        <h2><%= bookmark.comment  %></h2>
        <p><%= bookmark.movie.title  %></p>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      </div>
    </div>
  </div>
<% end %>
</div>
